.header-home {

}

.header-link {
  color: black;
  text-decoration: none;
}

.header-home .list-nav-principal li {
  line-height: 30px;
}

.header-home .list-nav-redes li {
  display: inline-block;
}

