.home {

}

.home h2 {
  margin-top: 150px;
  margin-left: 40px;
  width: 120px;
  font-size: 2rem;
  font-weight: lighter;
  font-family: var(--familyWorkSans);
  color: red;
}

.home h1 {
  font-family: var(--familyRaleway);
  font-weight: var(--espesorTitulo700);
  font-size: 4rem;
  margin-top: 150px;
  background-color: rgba(255,255,255,.5);
  padding-left: 5px;
}

.home-body {
  background-image: url('../images/1.jpg');
  background-size: 71% 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  margin: 0;
}